.basic01 {
    padding: 100px;
    background: #f7f7f7;
    text-align: center;
}

.basic01 h2 {
    font-size: 23px;
    font-weight: bold;
    margin: 0 0 20px 0;
}

.basic01 p {
    font-size: 13px;
    margin: 0 0 30px 0;
}

.basic01 .container {
    display: inline-flex;
    gap: 40px;
    width: 700px;
    margin: 0 auto;
}

.basic01 .container img {
    width: 100%;
}

.basic01 figure {
    flex: 1;
}
