body {
    margin: 0 0 0 0;
}

h1 {
    color: red;
}

.box00 {
    width: 1000px;
    margin: 0 auto;
    background: #333;
    color: #fff;
}

.box01 {
    width: 100%;
    background: lightcyan;
}

.box02 {
    margin-left: 100px;
    width: 100%;
    background: lightgoldenrodyellow;
}

.box03 {
    margin-left: 100px;
    background:lightpink
}